body, *{
    padding: 0;
    margin: 0;
}

.tiny-text {
    font-size: 14px;
}

.add-space {
    display: block;
    margin: 20px 0px 20px 0px;
}

.pos-relative {
    position: relative;
}

.slide-btn {
    position: absolute;
    z-index: 99;
    font-size: 40px;
    color: #fff;
    top: 48%;
    cursor: pointer;
}

.slide-left {
    left: 25px;
}

.slide-right {
    right: 25px
}